*.pyc
data/LibriSpeech/dev-clean
data/LibriSpeech/train-clean-100
data/LibriSpeech/test-other
*.h5py
log/
log_model/

floydhub_model/

h5py_files/
docs/
gif/
.ipynb*
test\.py
raiden

*.flac

*.tfrecords
